<%= render partial: 'jsonp.js' %>
JSONP.init({
  callbackName: 'callback'
});
(function () {
  window.BDXW = window.BDXW || {};
  window.BDXW.referrer = "<%= cookies[:_referrer_] %>";
  (function (BDXW, window, undefined_) {
    BDXW.action = function (name, value) {
      JSONP.get('<%= @jsonp_url %>/action.js', {name: name, value: value}, function (response) {
        console.log(response);
      });
    }
//    BDXW.current_user = function (callback) {
//      JSONP.get('<%= @jsonp_url %>/get_current_user.js', null, callback);
//    }
  })(BDXW, window);
}).call(this);
