<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width"/>
    <meta name="format-detection" content="telephone=no">
    <title>BDTDex 2.0</title>
    <style>
      body {
        background-color: #2a2a2a
      }
      .centerDiv {
        width: 140px; border-radius: 5px; color: lightgrey;
        padding: 10px; height: 50px; position: absolute;
        margin-top: -25px; margin-left: -70px; top: 50%; left: 50%;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 100;
        font-size: 44px;
      }
    </style>
    <link rel="stylesheet" href="/wallet/app.css">
  </head>
  <body>
    <main id="content" class="<%= @platform %>">
      <h1 class="centerDiv" style="">Loading...</h1>
    </main>
    <script src="/wallet/vendors.js"></script>
    <script src="/wallet/app.js"></script>
    <script src="/wallet/1.app.js"></script>
    <script>
      var BDXW = window.BDXW || {};
      (function () {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.async = true;
        script.src = '/widgets/1/w.js?ref=' + encodeURIComponent(document.referrer);
        var entry = document.getElementsByTagName('script')[0];
        entry.parentNode.insertBefore(script, entry);
      }());
    </script>
  </body>
</html>
