<!DOCTYPE html>
<html>
<head>
    <title>BdtDex Faucet</title>
    <meta name="viewport" content="width=device-width"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
       <%= yield %>
    </div>
</body>
</html>
